body{
    background-color: #ffcb05;
    color:#00274c;
    font-size: large;
}

h1{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h2{
    font-size: smaller;
    font-family: 'Times New Roman', Times, serif;
    color:white
}

header > a{
   position: absolute;
   left: -50%;
   top: auto;
   width: 2%;
   height: 2%;
   overflow: hidden;
}

header > a:focus{
    position: static;
    width: auto;            
    height: auto;   
   text-decoration: underline;    
}   









