body{
    background-color: #ffcb05;
    color:#00274c;
    font-size: large;
}

h1{
    font-size: larger;
    font-weight: bold ;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h2{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    color:#00274c;
    font-weight: bold ;
    text-decoration: underline;
}

header > a{
   position: absolute;
   left: -50%;
   top: auto;
   width: 2%;
   height: 2%;
   overflow: hidden;
}

header > a:focus{
    position: static;
    width: auto;            
    height: auto;   
   text-decoration: underline;    
}   

nav ul{
    display: flex;
    flex-direction: column;
   /* align-items: center;*/
    background-color:#00274c ;
    color: #ffcb05;
    text-decoration: underline;
    font-weight: bold;
}

nav ul li{
    text-align: center;
    width: 100%;
}

nav ul li:hover {
    border: 5px solid #ffcb05;
}













